[data-theme=forest] {
    /* color-scheme: dark; */
    /* --pf: 141 72% 35%; */
    --pf: 212 100% 60%;
    /* --sf: 164 73% 35%; */
    /* --af: 175 73% 35%; */
    /* --nf: 161 37% 8%; */
    /* --b2: 0 12% 1%; */
    /* --b3: 0 0% 0%; */
    /* --in: 198 93% 60%; */
    /* --su: 158 64% 52%; */
    /* --wa: 43 96% 56%; */
    /* --er: 0 91% 71%; */
    /* --bc: 360 1% 79%; */
    /* --sc: 158 32% 11%; */
    /* --ac: 172 31% 11%; */
    /* --nc: 157 7% 81%; */
    /* --inc: 198 100% 12%; */
    /* --suc: 158 100% 10%; */
    /* --wac: 43 100% 11%; */
    /* --erc: 0 100% 14%; */
    /* --rounded-box: 1rem; */
    /* --rounded-badge: 1.9rem; */
    /* --animation-btn: 0.25s; */
    /* --animation-input: .2s; */
    /* --btn-text-case: uppercase; */
    /* --btn-focus-scale: 0.95; */
    /* --border-btn: 1px; */
    /* --tab-border: 1px; */
    /* --tab-radius: 0.5rem; */
    /* --p: 141 72% 42%; */
    --p: 212 100% 51%;
    /* --pc: 0 0% 0%; */
    /* --s: 164 73% 42%; */
    /* --a: 175 73% 42%; */
    /* --n: 161 37% 15%; */
    --n: 217 92% 7%;
    /* --b1: 0 12% 8%; */
    --b1: 212 12% 10%;
    /* --rounded-btn: 1.9rem */
}
[data-theme=winter] {
    /* color-scheme: light; */
    /* --pf: 212 100% 44%; */
    /* --sf: 247 47% 36%; */
    /* --af: 310 49% 45%; */
    --af: 175 73% 45%;
    /* --nf: 217 92% 3%; */
    /* --pc: 231 100% 93%; */
    /* --sc: 256 40% 88%; */
    /* --ac: 316 56% 91%; */
    --ac: 316 56% 25%;
    /* --nc: 229 10% 80%; */
    /* --inc: 192 18% 16%; */
    /* --suc: 181 16% 14%; */
    /* --wac: 32 9% 16%; */
    /* --erc: 2 19% 15%; */
    /* --rounded-box: 1rem; */
    /* --rounded-btn: 0.5rem; */
    /* --rounded-badge: 1.9rem; */
    /* --animation-btn: 0.25s; */
    /* --animation-input: .2s; */
    /* --btn-text-case: uppercase; */
    /* --btn-focus-scale: 0.95; */
    /* --border-btn: 1px; */
    /* --tab-border: 1px; */
    /* --tab-radius: 0.5rem; */
    /* --p: 212 100% 51%; */
    /* --s: 247 47% 43%; */
    /* --a: 310 49% 52%; */
    --a: 175 73% 52%;
    /* --n: 217 92% 10%; */
    /* --b1: 0 0% 100%; */
    /* --b2: 217 100% 97%; */
    /* --b3: 219 44% 92%; */
    /* --bc: 214 30% 32%; */
    /* --in: 192 93% 78%; */
    /* --su: 182 47% 66%; */
    /* --wa: 32 62% 84%; */
    /* --er: 0 63% 72% */
}